html,
body {
  height: 100%
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(7 14 22);
}

.base-div {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  padding: 0 10rem;
  text-align: center;
  background-color: rgb(7 14 22);
}

.container-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 32, 39);
}

.action-bar {
  justify-content: space-around;
}

.no-deco {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.no-deco button {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.no-deco button:hover {
  background-color: rgb(21 115 207 / 45%) !important;
}

.main-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7) !important;
  padding: 2rem 3.5rem;
  width: 100%;
}

.sub-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7) !important;
  width: 100%;
}

.sub-div-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.7) !important;
}

.main-row {
  margin: 1rem 0;
  width: 100%;
}

.paper-div {
  background-color: rgb(38 43 50) !important;
  margin: 1rem;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.7) !important;
  min-height: 380px;
}

span.active .paper-div,
.paper-div:hover {
  background-color: rgb(21 115 207 / 45%) !important;
}

span.active .paper-div:hover {
  background-color: rgba(207, 21, 21, 0.45) !important;
}

.paper-div p {
  max-width: 180px;
}

.input-c {
  text-align: center;
}

.m-t {
  margin-top: 1.5rem;
}

.m-b {
  margin-bottom: 2.0rem;
}

.m-l {
  margin-left: 1.5rem;
}

.m-r {
  margin-right: 1.5rem;
}